.back{
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 630px;
}
.topnav{
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}
.img1{
    width: 110px;
    border-radius: 18%;
}
.heading{
    margin-top: 112px;
    font-size: 70px;
    color: white;
    line-height: 90px;
}
.about{
    background: #493826;
    color: white;
}
.btn1{
    width: 181px;
    height: 53px;
    background: transparent;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    margin-left: 30px;
    cursor: pointer;
}
.btn1:hover{
    background-color: gray;
}
.img2{
    width: 100%;
    height: auto;
    
}
.heading span{
    color: greenyellow;
}
#color{
color:#493826;
}